@media screen and (max-width:1200px) {
    input[type=url] {
        width: 65%;
    }
    .z-index-19 {
        z-index: 1;
    }
    .right-main__list-icon, .right-main__list-dropdown-icon {
        font-size: 1.5vw;
    }
}

@media screen and (max-width:992px) {
    input[type=url] {
        width: 60%;
    }

    .email-form, .verify-form {
        width: 40VW;
    }
    .email-header, .verify-header {
        font-size: 4vw;
    }
    .email-input, .verify-input, .email-submit-btn, .verify-submit-btn {
        font-size: 1.6vw;
    }

    .stats-table__body-col, .stats-table__head-col, .right-main__list-text, .right-main-dropdown__list-text {
        font-size: 1.2vw;
    }
    .stats-table__body-icons, .QR-code-span {
        font-size: 1.2vw;
    }
    .right-main__list-icon, .right-main__list-dropdown-icon {
        font-size: 2vw;
    }
}

@media screen and (max-width:768px) {
    #input-div {
        display: block;
    }

    input[type=url] {
        width: calc(100% - 30px);
        font-size: 2vw;
    }

    .buttons {
        margin-top: 25px;
    }

    .buttons button {
        margin: 0;
        width: calc(50% - 10px);
    }

    .button, .user-panel-btn {
        font-size: 2vw;
    }

    #new-url-label {
        font-size: 1.7vw;
    }

    .copy-icon {
        display: block;
        color: white;
    }

    .copy-text {
        display: none;
    }

    .email-form, .verify-form {
        width: 50VW;
    }
    .email-validation-text, .verify-validation-text {
        font-size: 1.5vw;
    }
    .email-header, .verify-header {
        font-size: 5vw;
    }
    .email-input, .verify-input, .email-submit-btn, .verify-submit-btn {
        font-size: 2vw;
    }

    .user-panel__pagination-link {
        padding: .4rem .8rem;
        font-size: 2vw;
    }
    .stats-table__body-col, .stats-table__head-col, .right-main__list-text {
        font-size: 1.4vw;
    }
    .right-main-dropdown__list-text {
        font-size: 1.8vw;
    }
    .stats-table__body-icons, .QR-code-span {
        font-size: 1.6vw;
    }

    .right-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-header__profile-div {
        display: none;
    }
    .right-main__list-icon, .right-main__list-dropdown-icon {
        font-size: 2.2vw;
    }
    .burger-menu {
        display: block;
    }
    .right-main {
        display: none;
    }
    .right-main-dropdown{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70%;
        z-index: 20;
    }
    .left-main {
        width: 100%;
    }

}

@media screen and (max-width:576px) {
    #header-div {
        font-size: 4vw;
        margin-bottom: 50px;
        padding-top: 150px;
    }

    #content-div {
        width: 90%;
    }

    .button, .user-panel-btn {
        font-size: 3vw;
    }

    #input-div {
        width: 100%;
    }

    #output-div {
        width: calc(100% - 7px);
        margin-bottom: 0;
    }

    #new-url,
    #new-url-label {
        font-size: 2.3vw;
    }

    input[type=url] {
        font-size: 2.5vw;
    }

    .email-form, .verify-form {
        width: 75VW;
    }
    .email-validation-text, .verify-validation-text {
        font-size: 2vw;
    }
    .email-header, .verify-header {
        font-size: 7vw;
    }
    .email-input, .verify-input, .email-submit-btn, .verify-submit-btn {
        font-size: 3vw;
    }

    .user-panel {
        left: 1.2rem;
    }

    .stats-table__body-col, .stats-table__head-col, .right-main__list-text {
        font-size: 2vw;
    }
    .right-main-dropdown__list-text {
        font-size: 3vw;
    }
    .stats-table__body-icons, .QR-code-span {
        font-size: 2.2vw;
    }

    .left-header__list-item {
        padding: .5rem 1rem;
        font-size: 2.2vw;
    }
    .burger-menu__btn {
        font-size: 2.2vw;
    }

    .QR-code-icon, .stats-table-edit-icon, .stats-table-copy-icon, .stats-table-delete-icon {
        padding: .25rem .5rem;
    }

    .user-panel__pagination-link {
        padding: .25rem .5rem;
        font-size: 2.5vw;
    }
    .stats-table {
        margin-bottom: 2rem;
    }
    .right-main__list-icon, .right-main__list-dropdown-icon {
        font-size: 2.6vw;
    }

}

/*
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/