<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap/bootstrap.php"
    colors          =       "true"
    stopOnFailure   =       "false"
    cacheResult     =       "false">
    <testsuites>
        <testsuite name="Project Url Shortener">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>