<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit destenition URL</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/going-to-school" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
    <main>
        <div class="editDest-div" id="editDest-div">
            <h2 class="editDest-header">Edit Destenition URL</h2>
            <form action="" class="editDest-form">
                <input type="text" class="editDest-input" name="editURL" id="editDest-input" placeholder="Enter Your destenition Url..." />
                <button class="editDest-submit-btn">Submit</button>
            </form>
        </div>

        <div class="bg-blur"></div>
    </main>
</body>
</html>